<table class="table container bg-white">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Description</th>
      <th scope="col"></th>

    </tr>
  </thead>
  <tbody>
  <% @list_message.each  do |message|  %>
    <tr>
      <td><%= message.created_at.strftime("%d-%m-%Y") %></td>
      <td><%= message.full_name%></td>
      <td><%= message.email%></td>
      <td><%= message.phone%></td>
      <td><%= message.description%></td>
      <td><%= link_to message_path(message.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
          <span class="btn btn-danger">DELETE</span>
          <%# <i class="fas fa-trash-alt fa-2x"></i> %>
          <% end  %>
      </td>
    </tr>
  </tbody
  <% end %>>
</table>


  <div class="row text-center">
  <div class="col-md-8 offset-md-2">
    <%= paginate @list_message %>
    </div>
  </div>